body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**** all for tooltips ****/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/**** End of tooltips ****/

.container {
  display: flex;
  flex-direction: row; 
}

.signup-form {
  align-content: center;
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 15px;
  max-width: 30%;
  max-height: 30%;
  margin: 10px;
}

.signup-form input {
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
  border-color: #555;
  border-width: 2px;

}

.signup-form button {
  padding: 5px;
  border-radius: 6px;
  background-color: blue;
  color: white;
}

h2 {
  color: rgb(134, 56, 56);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  text-decoration: underline;
}

a > h3:hover, a > h1:hover {
  color: black;
  text-decoration: underline;
}

/* Seperates Exercises Try and get it to not target the top one */
.exercise {
  padding-top: 50px;
}

.ui.button {
  height: 2.5em;
  margin-top: 25px
}

.exerciseDates {
  padding-bottom: 15px;
  padding-right: 10px;
}

/* Makes form X button a better height */
.exerciseDates + button {
  height: 22px;
}

h3.exerciseDates {
  text-align: center;
  margin-left: 38%;
}

/* Sets look more like children of exercises */
.setsForm {
  padding-right: 10px;
  padding-left: 10px;
}

/* Concats set forms */
div#lift-form-0.equal.width.fields.setsForm {
  margin-bottom: 0px
}

#workoutForm {
  margin-right: 20%;
  margin-left: 20%
}

.ui.menu .item>img:not(.ui) {
  width: 3.3em;
}

/* Formats the logged in as part of the navbar */
#loggedIn {
  margin-bottom: 0px;
}

img#profilePic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

img#avatar {
  border-radius: 45%
}

#signOptions {
  font-size: 20px;
  text-align: center;
}

#weightTable {
  
}